In [ ]:
#!/usr/bin/env python
# coding: utf-8

# # Classification Exercises

# ## 1.) In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

# In[4]:


# py import method

from pydataset import data

data('iris', show_doc=True)

df_iris = data('iris')

In [ ]:
df_iris.head(10)

In [ ]:
#seaborn method


# In[7]:


import seaborn as sns


# In[8]:


import numpy as np


# In[9]:


df_iris_seaborn_method = sns.load_dataset('iris')

In [ ]:
df_iris_seaborn_method.head(5)

In [ ]:
# a.)print the first 3 rows


# In[12]:


df_iris.iloc[:3]


# In[13]:

In [ ]:

#b.) print the number of rows and columns (shape)


# In[14]:


df_iris.shape


# In[15]:

In [ ]:
# c.) print the column names
for col in df_iris.columns:
    print(col)

In [ ]:
df_iris.columns

In [ ]:
df_iris.columns.to_list()

In [ ]:
#d. print the data type of each column
df_iris.info()


# In[52]:


df_iris.dtypes

In [ ]:
# e.)print the summary statistics for each of the numeric variables. 
# Would you recommend rescaling the data based on these statistics?

stat = df_iris.describe().T

# I would not rescale. All are in cm there is not a large range.

stat['range'] = stat['max'] - stat['min']

In [ ]:
stat

In [1]:
import pandas as pd


# ### 2.) Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.
# 
# 

# just note:
# 
# if you are using ravinders excel to delete the first row which contains empty columns can use below.
# 
# - churn_df.columns = churn_df.iloc[0]
# - churn_df = churn_df.drop(churn_df.index[0]

# In[60]:

In [ ]:
# a.) assign the first 100 rows to a new dataframe, df_excel_sample
df_excel = pd.read_excel('df_excel.xlsx', sheet_name='Table1_CustDetails')
df_excel.head(10)

df_excel_sample = df_excel.head(100)

In [ ]:
df_excel_sample = df_excel.head(100)


# use pandas methods and attributes to do some initial summarization and exploration of your data.
# 
# - .head()
# 
# - .shape
# 
# - .info()
# 
# - .columns
# 
# - .dtypes
# 
# - .describe()
# 
# - .value_counts()

# In[61]

In [ ]:
# b.) print the number of rows of your original dataframe
df_excel.shape[0]

In [ ]:
# c.) print the first 5 column names
df_excel.columns[:5]


# In[22]:


df_excel.info()

In [ ]:
# d.) print the column names that have a data type of object
object_column = df_excel.select_dtypes(include='object').columns.to_list()
object_column

In [ ]:
# another method to get columns which are data types is df_excel.where

In [ ]:
# e.) compute the range for each of the numeric variables.
numeric_variables = df_excel.select_dtypes(include=['float64', 'int64'] ).columns.to_list()
numeric_variables

In [ ]:
numeric_variables = df_excel.select_dtypes(include=[np.number] ).columns
numeric_variables

In [ ]:
numeric_v = df_excel.select_dtypes(include=[np.number])

numeric_v_range = numeric_v.max() - numeric_v.min()
numeric_v_range

In [ ]:

# ### 3.) Read the data from this google sheet into a dataframe, df_google
# 
# 

# In[29]:


sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
train_googlesheet = pd.read_csv(csv_export_url)
train_googlesheet.head(2)

In [ ]:
# a.) print the first 3 rows
train_googlesheet.iloc[:3]

In [ ]:
# b.) print the number of rows and columns
train_googlesheet.shape

In [ ]:
# c.) print the column names
train_googlesheet.columns

In [ ]:
# d.) print the data type of each column
train_googlesheet.dtypes

In [ ]:
# e.) print the summary statistics for each of the numeric variables
train_googlesheet.select_dtypes(include = ['int64', 'float64']).describe()

In [ ]:
# f.) print the unique values for each of your categorical variables
unique_cat = train_googlesheet.nunique()

In [ ]:
for col in train_googlesheet.columns:
    if train_googlesheet[col].dtypes == 'object':
        print(f'{col} has {train_googlesheet[col].nunique()} unique values.')

In [ ]:
#1.) Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. 
#Obtain your data from the Codeup Data Science Database.

import pandas as pd
import numpy as np
import os
from env import host, user, password

###################### Acquire Titanic Data ######################

def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [ ]:
def new_titanic_data():
    '''
    This function reads the titanic data from the Codeup db into a df,
    write it to a csv file, and returns the df.
    '''
    # Create SQL query.
    sql_query = 'SELECT * FROM passengers'
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    
    return df

In [ ]:
#2.) Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. 
#The returned data frame should include the actual name of the species in addition to the species_ids. 
#Obtain your data from the Codeup Data Science Database.

###################### Acquire Iris Data ######################

def new_iris_data():
    '''
    This function reads the iris data from the Codeup db into a df.
    '''
    sql_query = """
                SELECT species_id,
                species_name,
                sepal_length,
                sepal_width,
                petal_length,
                petal_width
                FROM measurements
                JOIN species
                USING(species_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('iris_db'))
    
    return df

In [ ]:
#3.) Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. 
# To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. 
# If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

def get_iris_data(cached=False):
    '''
    This function reads in iris data from Codeup database and writes data to
    a csv file if cached == False or if cached == True reads in iris df from
    a csv file, returns df.
    '''
    if cached == False or os.path.isfile('iris_df.csv') == False:
        
        # Read fresh data from db into a DataFrame
        df = new_iris_data()
        
        # Cache data
        df.to_csv('iris_df.csv')
        
    else:
        
        # If csv file exists or cached == True, read in data from csv file.
        df = pd.read_csv('iris_df.csv', index_col=0)
        
    return df

In [ ]:
# In[82]:


def get_titanic_data(cached=False):
    '''
    This function reads in titanic data from Codeup database and writes data to
    a csv file if cached == False or if cached == True reads in titanic df from
    a csv file, returns df.
    '''
    if cached == False or os.path.isfile('titanic_df.csv') == False:
        
        # Read fresh data from db into a DataFrame.
        df = new_titanic_data()
        
        # Write DataFrame to a csv file.
        df.to_csv('titanic_df.csv')
        
    else:
        
        # If csv file exists or cached == True, read in data from csv file.
        df = pd.read_csv('titanic_df.csv', index_col=0)
        
    return df

## Exercises

The end product of this exercise should be the specified functions in a python script named `prepare.py`.
Do these in your `classification_exercises.ipynb` first, then transfer to the prepare.py file. 

This work should all be saved in your local `classification-exercises` repo. Then add, commit, and push your changes.

Using the Iris Data:  

1. Use the function defined in `acquire.py` to load the iris data.  

1. Drop the `species_id` and `measurement_id` columns.  

1. Rename the `species_name` column to just `species`.  

1. Create dummy variables of the species name. 

1. Create a function named `prep_iris` that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own acquire module
import acquire

### 1.) Use the function defined in acquire.py to load the iris data.

In [ ]:
# Grab our acquired dataset:

In [4]:
df = acquire.get_iris_data()

In [5]:
df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   species_id    150 non-null    int64
 1   species_name  150 non-null    object
 2   sepal_length  150 non-null    float64
 3   sepal_width   150 non-null    float64
 4   petal_length  150 non-null    float64
 5   petal_width   150 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [10]:
for col in df:
    print(df[col].value_counts())
    print('---------------')
    print(df[col].value_counts(normalize =True, dropna = False))
    print('---------------')

3    50
2    50
1    50
Name: species_id, dtype: int64
---------------
3    0.333333
2    0.333333
1    0.333333
Name: species_id, dtype: float64
---------------
setosa        50
versicolor    50
virginica     50
Name: species_name, dtype: int64
---------------
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: species_name, dtype: float64
---------------
5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal_length, dtype: int64
---------------
5.0    0.066667
6.3    0.060000
5.1    0.060000
6.7    0.053333
5.7    0.053333
5.5    0.046667
5.8    0.046667
6.4    0.046667
6.0    0.040000
4.9    0.040000
6.1    0.040000
5.4    0.040000
5.6    0.040000
6.5    0.033333
4.8    0.033333
7.7    0.026667
6.9    0.026667
5.2    0.026667
6.2    0.026667
4.6    0.026667
7.2    0.020000
6.8    0.020000
4.4    0.020000
5.9    0.020000
6.6    0.013333
4.7    0.013333
7.6    0.006667
7.4    0.006667
4.3    0.006667
7.9    0.006667
7.3    0.006667
7.0    0.006667
4.5    0.006667
5.3    0.006667
7.1    0.006667
Name: sepal_length, dtype: float64
---------------
3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.5     6
3.8     6
3.3     6
2.6     5
2.3     4
3.6     4
2.4     3
2.2     3
3.7     3
3.9     2
4.2     1
4.1     1
4.4     1
2.0     1
4.0     1
Name: sepal_width, dtype: int64
---------------
3.0    0.173333
2.8    0.093333
3.2    0.086667
3.4    0.080000
3.1    0.073333
2.9    0.066667
2.7    0.060000
2.5    0.053333
3.5    0.040000
3.8    0.040000
3.3    0.040000
2.6    0.033333
2.3    0.026667
3.6    0.026667
2.4    0.020000
2.2    0.020000
3.7    0.020000
3.9    0.013333
4.2    0.006667
4.1    0.006667
4.4    0.006667
2.0    0.006667
4.0    0.006667
Name: sepal_width, dtype: float64
---------------
1.5    13
1.4    13
5.1     8
4.5     8
1.3     7
1.6     7
5.6     6
4.0     5
4.9     5
4.7     5
4.8     4
1.7     4
4.4     4
4.2     4
5.0     4
4.1     3
5.5     3
4.6     3
6.1     3
5.7     3
3.9     3
5.8     3
1.2     2
1.9     2
6.7     2
3.5     2
5.9     2
6.0     2
5.4     2
5.3     2
3.3     2
4.3     2
5.2     2
6.3     1
1.1     1
6.4     1
3.6     1
3.7     1
3.0     1
3.8     1
6.6     1
6.9     1
1.0     1
Name: petal_length, dtype: int64
---------------
1.5    0.086667
1.4    0.086667
5.1    0.053333
4.5    0.053333
1.3    0.046667
1.6    0.046667
5.6    0.040000
4.0    0.033333
4.9    0.033333
4.7    0.033333
4.8    0.026667
1.7    0.026667
4.4    0.026667
4.2    0.026667
5.0    0.026667
4.1    0.020000
5.5    0.020000
4.6    0.020000
6.1    0.020000
5.7    0.020000
3.9    0.020000
5.8    0.020000
1.2    0.013333
1.9    0.013333
6.7    0.013333
3.5    0.013333
5.9    0.013333
6.0    0.013333
5.4    0.013333
5.3    0.013333
3.3    0.013333
4.3    0.013333
5.2    0.013333
6.3    0.006667
1.1    0.006667
6.4    0.006667
3.6    0.006667
3.7    0.006667
3.0    0.006667
3.8    0.006667
6.6    0.006667
6.9    0.006667
1.0    0.006667
Name: petal_length, dtype: float64
---------------
0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
1.0     7
0.3     7
0.4     7
2.0     6
2.1     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64
---------------
0.2    0.193333
1.3    0.086667
1.5    0.080000
1.8    0.080000
1.4    0.053333
2.3    0.053333
1.0    0.046667
0.3    0.046667
0.4    0.046667
2.0    0.040000
2.1    0.040000
0.1    0.033333
1.2    0.033333
1.9    0.033333
1.6    0.026667
2.5    0.020000
2.2    0.020000
2.4    0.020000
1.1    0.020000
1.7    0.013333
0.6    0.006667
0.5    0.006667
Name: petal_width, dtype: float64
---------------

### 2.) Drop the species_id and measurement_id columns.

In [11]:
df = df.drop_duplicates()
df = df.drop(columns = ['species_id'])

In [12]:
df.head(10)

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2
5       setosa           5.4          3.9           1.7          0.4
6       setosa           4.6          3.4           1.4          0.3
7       setosa           5.0          3.4           1.5          0.2
8       setosa           4.4          2.9           1.4          0.2
9       setosa           4.9          3.1           1.5          0.1

### 3.) Rename the species_name column to just species.

In [15]:
df = df.rename(columns={"species_name": "species"})

In [14]:
df.head()

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2

### 4.) Create dummy variables of the species name.

In [16]:
dummy_species_name = pd.get_dummies(df[['species']]) 
dummy_species_name.T

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,143,144,145,146,147,148,149
species_setosa,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
species_versicolor,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
species_virginica,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

### 5.) Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
df = acquire.get_iris_data()

In [19]:
def prep_iris(df):
    '''
    takes in a df of the iris dataset as it is acquired and returns a cleaned df
    arguements: df: a pandas df with the expected feature names and columns return: 
    clean_df: a dataframe with the cleaning operations performed on it
    '''
    df = df.drop_duplicates()
    df = df.drop(columns = ['species_id'])
    df = df.rename(columns={"species_name": "species"})
    dummy_species_name = pd.get_dummies(df[['species']]) 
    return df