## Exercises

Using the titanic data, in your classification-exercises repository, create a notebook, model.ipynb where you will do the following:

In [68]:
import numpy as np
import pandas as pd
from io import StringIO
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text


import acquire
import prepare



from sklearn.metrics import confusion_matrix
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.ensemble import RandomForestClassifier


import warnings
warnings.filterwarnings('ignore')

In [69]:
train, validate, test = prepare.prep_titanic(acquire.get_titanic_data())

In [7]:
# look the shape.
train.shape, validate.shape, test.shape

((497, 14), (214, 14), (178, 14))

In [8]:
train = train.drop(columns = ['class', 'embark_town', 'embarked'])

In [9]:
train.head(5)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,alone,Q,S
583,583,0,1,male,36.000000,0,0,40.1250,1,0,0
337,337,1,1,female,41.000000,0,0,134.5000,1,0,0
50,50,0,3,male,7.000000,4,1,39.6875,0,0,1
218,218,1,1,female,32.000000,0,0,76.2917,1,0,0
31,31,1,1,female,29.916875,1,0,146.5208,0,0,0

In [70]:
train.sex[train.sex == 'male'] = 0
train.sex[train.sex == 'female'] = 1

In [71]:
validate.sex[validate.sex == 'male'] = 0
validate.sex[validate.sex == 'female'] = 1

1.)What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

2.)Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [19]:
#fit our thing

In [20]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

3.)Evaluate your in-sample results using the model score, confusion matrix, and classification report.

4.)Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

5.)Run through steps 2-4 using a different max_depth value.

6.)Which model performs better on your in-sample data?

7.)Which model performs best on your out-of-sample data, the validate set?

## Exercises Random Forest

Continue working in your model file with titanic data to do the following:

In [72]:
#Bring in our data and split it.
train, validate, test = prepare.prep_titanic(acquire.get_titanic_data())

In [24]:
#look at the shape of test,validate,test!!!

In [32]:
train.shape, validate.shape, test.shape

((497, 14), (214, 14), (178, 14))

In [75]:
train.survived.value_counts()

0    307
1    190
Name: survived, dtype: int64

In [76]:
train['surv_baseline_pred'] = 0

In [78]:
# create our baseline to compare back to!!!
baseline_recall = (train.surv_baseline_pred == train.survived).mean()
baseline_recall

0.6177062374245473

In [33]:
# Create X_train which will exclude our target!
X_train = train.drop(columns = ['class', 'embark_town', 'embarked', 'survived'])
X_train.head(5)

,passenger_id,pclass,sex,age,sibsp,parch,fare,alone,Q,S
583,583,1,male,36.000000,0,0,40.1250,1,0,0
337,337,1,female,41.000000,0,0,134.5000,1,0,0
50,50,3,male,7.000000,4,1,39.6875,0,0,1
218,218,1,female,32.000000,0,0,76.2917,1,0,0
31,31,1,female,29.916875,1,0,146.5208,0,0,0

In [ ]:
#create X_validate from validate, excluding target

In [38]:
X_validate = validate.drop(columns = ['class', 'embark_town', 'embarked', 'survived'])
X_validate.head(3)

,passenger_id,pclass,sex,age,sibsp,parch,fare,alone,Q,S
610,610,3,female,39.000000,1,5,31.2750,0,0,1
424,424,3,male,18.000000,1,1,20.2125,0,0,1
568,568,3,male,29.916875,0,0,7.2292,1,0,0

In [73]:
#changing sex from categorical str to categ based on numeric on train dataset.
X_train.sex[X_train.sex == 'male'] = 0
X_train.sex[X_train.sex == 'female'] = 1

In [74]:
# changed sex from categorical str to categ based on numeric on validate dataset.  
X_validate.sex[X_validate.sex == 'male'] = 0
X_validate.sex[X_validate.sex == 'female'] = 1

In [35]:
#create our train target.
y_train = train['survived']
y_train.head()

583    0
337    1
50     0
218    1
31     1
Name: survived, dtype: int64

In [40]:
#create validate target
y_validate = validate['survived']

In [41]:
X_validate.head(1)

     passenger_id  pclass sex   age  sibsp  parch    fare  alone  Q  S
610           610       3   1  39.0      1      5  31.275      0  0  1

### Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [42]:
#make our thing
model = RandomForestClassifier(random_state = 1349,min_samples_leaf = 1, max_depth = 10)

In [44]:
#fit our thing
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=1349)

Evaluate your results using the model score, confusion matrix, and classification report.

In [45]:
#Model Score:
print(f'training score: {model.score(X_train, y_train):.2%}')
print(f'validate score: {model.score(X_validate, y_validate):.2%}')

training score: 97.38%
validate score: 80.84%

In [48]:
y_pred = model.predict(X_train)

In [46]:
#add prediction to train to use confusion matrix
train['model_pred'] = model.predict(X_train)

In [59]:
validate['model_pred'] = model.predict(X_validate)

In [47]:
#confusion matrix 
matrix = confusion_matrix(train.survived, train.model_pred)
matrix

array([[307,   0],
       [ 13, 177]])

In [49]:
y_train.head()

583    0
337    1
50     0
218    1
31     1
Name: survived, dtype: int64

In [52]:
y_train = train['survived']

In [58]:
#Classification Report
pd.DataFrame(classification_report(train.survived, y_pred, output_dict=True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.959375    1.000000  0.973843    0.979688      0.974906
recall       1.000000    0.931579  0.973843    0.965789      0.973843
f1-score     0.979266    0.964578  0.973843    0.971922      0.973651
support    307.000000  190.000000  0.973843  497.000000    497.000000

Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [60]:
print(classification_report(validate.survived, validate.model_pred))

              precision    recall  f1-score   support

           0       0.84      0.86      0.85       132
           1       0.76      0.73      0.75        82

    accuracy                           0.81       214
   macro avg       0.80      0.79      0.80       214
weighted avg       0.81      0.81      0.81       214


Run through steps increasing your min_samples_leaf and decreasing your max_depth.

In [63]:
## STEP 1:#######
#make our thing, decreased max_depth and increased min_samples_leaf
model1 = RandomForestClassifier(random_state = 1349,min_samples_leaf = 3, max_depth = 7)

In [64]:
##STEP 2:#######
#fit our thing
model1.fit(X_train, y_train)

RandomForestClassifier(max_depth=7, min_samples_leaf=3, random_state=1349)

In [65]:
###STEP 3: use our thing!!!
y_pred = model1.predict(X_train)

In [66]:
pd.DataFrame(classification_report(y_train, y_pred, output_dict= True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.888889    0.932927  0.903421    0.910908      0.905724
recall       0.964169    0.805263  0.903421    0.884716      0.903421
f1-score     0.925000    0.864407  0.903421    0.894703      0.901836
support    307.000000  190.000000  0.903421  497.000000    497.000000

What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

In [ ]:
# decrease in the accuracy,macro avg , weighted average.