## Exercises

### Decision Tree

Using the titanic data, in your classification-exercises repository, create a notebook, model.ipynb where you will do the following:

In [2]:
import numpy as np
import pandas as pd
from io import StringIO
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text


import acquire
import prepare



from sklearn.metrics import confusion_matrix
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [11]:
# acquire the data
train, validate, test = prepare.prep_titanic_data(acquire.get_titanic_data(), column = 'age', method = 'median', dummies = ['embarked', 'sex']) #Dataframe features and target

In [12]:
# look the shape.
train.shape, validate.shape, test.shape

((498, 12), (214, 12), (179, 12))

In [13]:
#created df features excluding our target survived.
X_train, y_train = train.drop(columns=['survived']), train.survived #DataFrame Features, target
X_validate, y_validate = validate.drop(columns=['survived']), validate.survived #DataFrame Features, Target
X_test, y_test = test.drop(columns=['survived']), test.survived

### 1.)What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.



For a classification problem, a common choice for the baseline model is a model that simply predicts the most common class every single time.

### Model 1

In [14]:
# baseline being the most fequently occuring in our target.
train.survived.value_counts()

0    307
1    191
Name: survived, dtype: int64

In [15]:
train.head(1)

,passenger_id,survived,pclass,age,sibsp,parch,fare,class,alone,embarked_Q,embarked_S,sex_male
583,583,0,1,36.0,0,0,40.125,First,1,0,0,1

In [19]:
# The baseline prediction is going to be died (0)

In [16]:
train['baseline_pred'] = 0

In [17]:
train.head(1)

,passenger_id,survived,pclass,age,sibsp,parch,fare,class,alone,embarked_Q,embarked_S,sex_male,baseline_pred
583,583,0,1,36.0,0,0,40.125,First,1,0,0,1,0

In [18]:
baseline_accuracy = (train.baseline_pred == train.survived).mean()
baseline_accuracy

0.6164658634538153

### 2.)Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [23]:
#fit our thing

In [20]:
X_train, y_train = train.drop(columns=['class', 'baseline_pred']), train.survived 
X_validate, y_validate = validate.drop(columns=['class']), validate.survived 
X_test, y_test = test.drop(columns=['class',]), test.survived

In [21]:
X_train.head(2)

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_Q,embarked_S,sex_male
583,583,0,1,36.0,0,0,40.125,1,0,0,1
165,165,1,3,9.0,0,2,20.525,0,0,1,1

In [22]:
X_validate.head(2)

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_Q,embarked_S,sex_male
610,610,0,3,39.0,1,5,31.2750,0,0,1,0
424,424,0,3,18.0,1,1,20.2125,0,0,1,1

In [23]:
X_test.head(2)

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_Q,embarked_S,sex_male
561,561,0,3,40.0,0,0,7.8958,1,0,1,1
641,641,1,1,24.0,0,0,69.3000,1,0,0,0

In [24]:
# Create X_train which will exclude our target!
X_train.head(2)

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_Q,embarked_S,sex_male
583,583,0,1,36.0,0,0,40.125,1,0,0,1
165,165,1,3,9.0,0,2,20.525,0,0,1,1

In [13]:
#Incase want to change sex to numeric
#X_train.sex[X_train.sex == 'female'] = 0
#X_train.sex[X_train.sex == 'male'] = 1

In [26]:
print('-----------------------------------------------')

-----------------------------------------------

In [25]:
#Create our Thing and FIT our thing!!!!

In [45]:
model1 = DecisionTreeClassifier(max_depth = 2)
model1.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

### 3.)Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [46]:
#model score, Inmodel!!!
train_score = print(f'training score : {model1.score(X_train, y_train):.2%}')
train_score

training score : 79.92%

In [47]:
#model score, Inmodel!!!
validate_score = model1.score(X_validate, y_validate)
validate_score

0.7616822429906542

In [48]:
test_score = model1.score(X_test, y_test)
test_score

0.7821229050279329

In [71]:
train['model1_prediction'] = model1.predict(X_train)
validate['model1_prediction'] = model1.predict(X_validate)
test['model1_prediction'] = model1.predict(X_test)

In [50]:
train.head(1)

,passenger_id,survived,pclass,age,sibsp,parch,fare,class,alone,embarked_Q,embarked_S,sex_male,baseline_prediction,model1_prediction
583,583,0,1,36.0,0,0,40.125,First,1,0,0,1,0,0

In [23]:
#Create a Confusion Matrix

In [51]:
pred_df = pd.DataFrame([['TN', 'FP'],['FN', 'TP']], index=['actual death', 'actual survived'], columns=['pred_2 death', 'pred_2 survived'])

pred_df + ' : ' + confusion_matrix(y_train, train.model1_prediction).astype(str)

                pred_2 death pred_2 survived
actual death        TN : 265         FP : 42
actual survived      FN : 58        TP : 133

In [52]:
# classification report
pd.DataFrame(classification_report(y_train, train.model1_prediction, output_dict=True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.820433    0.760000  0.799197    0.790217      0.797255
recall       0.863192    0.696335  0.799197    0.779764      0.799197
f1-score     0.841270    0.726776  0.799197    0.784023      0.797358
support    307.000000  191.000000  0.799197  498.000000    498.000000

In [35]:
#create classification report with validate
pd.DataFrame(classification_report(y_validate, validate.model1_prediction, output_dict = True))

               0     1  accuracy  macro avg  weighted avg
precision    1.0   1.0       1.0        1.0           1.0
recall       1.0   1.0       1.0        1.0           1.0
f1-score     1.0   1.0       1.0        1.0           1.0
support    132.0  82.0       1.0      214.0         214.0

In [54]:
#create classification report with test
pd.DataFrame(classification_report(y_test, test.model1_prediction, output_dict = True))

                    0          1  accuracy   macro avg  weighted avg
precision    0.803419   0.741935  0.782123    0.772677      0.779719
recall       0.854545   0.666667  0.782123    0.760606      0.782123
f1-score     0.828194   0.702290  0.782123    0.765242      0.779661
support    110.000000  69.000000  0.782123  179.000000    179.000000

### 4.)Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [55]:
pred_df = pd.DataFrame([['TN', 'FP'],['FN', 'TP']], index=['actual death', 'actual survived'], columns=['pred_2 death', 'pred_2 survived'])

pred_df + ' : ' + confusion_matrix(train.survived, train.model1_prediction).astype(str)

                pred_2 death pred_2 survived
actual death        TN : 265         FP : 42
actual survived      FN : 58        TP : 133

In [56]:
TN= 307
FN= 0
FP= 0
TP= 190

tpr = TP/(TP+FN)
fpr = FP/(FP+TN)
tnr = TN/(TN+FP)
fnr = FN/(FN+TP)

tpr, fpr, tnr, fnr

(1.0, 0.0, 1.0, 0.0)

### 5.)Run through steps 2-4 using a different max_depth value.

### Model 2

In [57]:
#Pull in Data!!
train, validate, test = prepare.prep_titanic_data(acquire.get_titanic_data(), column = 'age', method = 'median', dummies = ['embarked', 'sex']) #Dataframe features and target

In [34]:
#create train test and validate.

In [ ]:
# we dont need embarked, class, embark_town, sex. On sex we can make numeric if we wanrt!!!

In [58]:
# Figure the baseline prediction.
train.survived.value_counts()

0    307
1    191
Name: survived, dtype: int64

In [60]:
# need to create baseline accuracy!!!
train['baseline_prediction'] = 0

In [42]:
baseline_accuracy = (train.baseline_prediction == train.survived).mean()
baseline_accuracy

0.6164658634538153

In [61]:
# create out df features and target.
X_train, y_train = train.drop(columns=['survived','baseline_prediction','class']), train.survived 
X_validate, y_validate = validate.drop(columns=['survived','class']), validate.survived 
X_test, y_test = test.drop(columns= ['survived','class']), test.survived

In [ ]:
#before we fit need to change sex (categorical) str value of male or female to numeric 0 or 1
#also we could just drop sex!!!!

In [139]:
#X_test.sex[X_test.sex == 'female'] = 0
#X_test.sex[X_test.sex == 'male'] = 1

In [11]:
X_train.head(1)

,passenger_id,pclass,age,sibsp,parch,fare,alone,embarked_Q,embarked_S,sex_male
583,583,1,36.0,0,0,40.125,1,0,0,1

In [10]:
X_validate.head(1)

,passenger_id,pclass,age,sibsp,parch,fare,alone,embarked_Q,embarked_S,sex_male
610,610,3,39.0,1,5,31.275,0,0,1,0

In [12]:
X_test.head(1)

,passenger_id,pclass,age,sibsp,parch,fare,alone,embarked_Q,embarked_S,sex_male
561,561,3,40.0,0,0,7.8958,1,0,1,1

In [62]:
#Now create our thing!!!
model2 = DecisionTreeClassifier(max_depth = 7)

#We now fit out thing!!
model2.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=7)

In [63]:
train['prediction'] = model2.predict(X_train)

In [ ]:
#Next use our thing!! Create modelscore, confusion Matrix, and run a classification report.

In [64]:
#Confusion Matix
confusion_matrix(y_train, train.prediction)

array([[286,  21],
       [ 30, 161]])

In [65]:
pred_df = pd.DataFrame([['TN', 'FP'],['FN', 'TP']], index=['actual death', 'actual survived'], columns=['pred_2 death', 'pred_2 survived'])

pred_df + ' : ' + confusion_matrix(y_train, train.prediction).astype(str)

                pred_2 death pred_2 survived
actual death        TN : 286         FP : 21
actual survived      FN : 30        TP : 161

In [ ]:
# need to make out table readable so

In [66]:
print(f'training score: {model2.score(X_train, y_train):.2%}')
print(f'validate score: {model2.score(X_validate, y_validate):.2%}')
print(f'test score: {model2.score(X_test, y_test):.2%}')

training score: 89.76%
validate score: 76.17%
test score: 77.65%

In [69]:
validate['model_pred'] = model2.predict(X_validate)

In [70]:
print(classification_report(y_validate, validate.model_pred))

              precision    recall  f1-score   support

           0       0.80      0.82      0.81       132
           1       0.70      0.67      0.68        82

    accuracy                           0.76       214
   macro avg       0.75      0.74      0.75       214
weighted avg       0.76      0.76      0.76       214

### 6.)Which model performs better on your in-sample data?

Model 2

### 7.)Which model performs best on your out-of-sample data, the validate set?

Model 2 on out sample,  Model 1 performs better on the validate set.

## Exercises Random Forest

Continue working in your model file with titanic data to do the following:

In [78]:
#Bring in our data and split it.
train, validate, test = prepare.prep_titanic_data(acquire.get_titanic_data(), column = 'age', method = 'median', dummies = ['embarked', 'sex'])

In [24]:
#look at the shape of test,validate,test!!!

In [79]:
train.shape, validate.shape, test.shape

((498, 12), (214, 12), (179, 12))

In [80]:
train.survived.value_counts()

0    307
1    191
Name: survived, dtype: int64

In [81]:
train['surv_baseline_pred'] = 0

In [85]:
train.head(3)

,passenger_id,survived,pclass,age,sibsp,parch,fare,class,alone,embarked_Q,embarked_S,sex_male,surv_baseline_pred
583,583,0,1,36.0,0,0,40.1250,First,1,0,0,1,0
165,165,1,3,9.0,0,2,20.5250,Third,0,0,1,1,0
50,50,0,3,7.0,4,1,39.6875,Third,0,0,1,1,0

In [82]:
# create our baseline to compare back to!!!
baseline = (train.surv_baseline_pred == train.survived).mean()
baseline

0.6164658634538153

In [87]:
# Create X_train which will exclude our target!
X_train = train.drop(columns = ['class', 'age', 'survived', 'surv_baseline_pred', 'sex_male'])
X_train.head(5)

,passenger_id,pclass,sibsp,parch,fare,alone,embarked_Q,embarked_S
583,583,1,0,0,40.1250,1,0,0
165,165,3,0,2,20.5250,0,0,1
50,50,3,4,1,39.6875,0,0,1
259,259,2,0,1,26.0000,0,0,1
306,306,1,0,0,110.8833,1,0,0

In [89]:
X_validate = validate.drop(columns = ['class', 'age', 'survived', 'sex_male'])
X_validate.head(3)

,passenger_id,pclass,sibsp,parch,fare,alone,embarked_Q,embarked_S
610,610,3,1,5,31.2750,0,0,1
424,424,3,1,1,20.2125,0,0,1
568,568,3,0,0,7.2292,1,0,0

In [ ]:
#create X_validate from validate, excluding target

In [90]:
X_validate = validate.drop(columns = ['class', 'age', 'survived', 'sex_male'])
X_validate.head(3)

,passenger_id,pclass,sibsp,parch,fare,alone,embarked_Q,embarked_S
610,610,3,1,5,31.2750,0,0,1
424,424,3,1,1,20.2125,0,0,1
568,568,3,0,0,7.2292,1,0,0

In [73]:
#changing sex from categorical str to categ based on numeric on train dataset.
#X_train.sex[X_train.sex == 'male'] = 0
#X_train.sex[X_train.sex == 'female'] = 1

In [74]:
# changed sex from categorical str to categ based on numeric on validate dataset.  
#X_validate.sex[X_validate.sex == 'male'] = 0
#X_validate.sex[X_validate.sex == 'female'] = 1

In [91]:
#create our train target.
y_train = train['survived']
y_train.head()

583    0
165    1
50     0
259    1
306    1
Name: survived, dtype: int64

In [92]:
#create validate target
y_validate = validate['survived']

In [93]:
X_validate.head(1)

     passenger_id  pclass  sibsp  parch    fare  alone  embarked_Q  embarked_S
610           610       3      1      5  31.275      0           0           1

### 1.) ### Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [94]:
#make our thing
model = RandomForestClassifier(random_state = 1349,min_samples_leaf = 1, max_depth = 10)

In [95]:
#fit our thing
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=1349)

### 2.) Evaluate your results using the model score, confusion matrix, and classification report.

In [149]:
#Model Score:
print(f'training score: {model.score(X_train, y_train):.2%}')
print(f'validate score: {model.score(X_validate, y_validate):.2%}')
print(f'test score: {model.score(X_test, y_test):.2%}')

training score: 94.58%
validate score: 64.25%
test score: 69.16%

In [100]:
y_pred_t = model.predict(X_train)

In [98]:
#add prediction to train to use confusion matrix
train['model_pred'] = model.predict(X_train)

In [99]:
validate['model_pred'] = model.predict(X_validate)

In [101]:
#confusion matrix 
matrix = confusion_matrix(y_train, y_pred_t)
matrix

array([[304,   3],
       [ 24, 167]])

In [52]:
y_train = train['survived']

In [102]:
#Classification Report
pd.DataFrame(classification_report(y_train, y_pred, output_dict=True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.926829    0.982353  0.945783    0.954591      0.948124
recall       0.990228    0.874346  0.945783    0.932287      0.945783
f1-score     0.957480    0.925208  0.945783    0.941344      0.945103
support    307.000000  191.000000  0.945783  498.000000    498.000000

### 3.) Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [103]:
print(classification_report(y_validate, validate.model_pred))

              precision    recall  f1-score   support

           0       0.73      0.79      0.76       132
           1       0.61      0.54      0.57        82

    accuracy                           0.69       214
   macro avg       0.67      0.66      0.67       214
weighted avg       0.69      0.69      0.69       214

### 4.) Run through steps increasing your min_samples_leaf and decreasing your max_depth.

In [151]:
## STEP 1:#######
#make our thing, decreased max_depth and increased min_samples_leaf
model1 = RandomForestClassifier(random_state = 1349,min_samples_leaf = 3, max_depth = 7)

In [152]:
##STEP 2:#######
#fit our thing
model1.fit(X_train, y_train)

RandomForestClassifier(max_depth=7, min_samples_leaf=3, random_state=1349)

In [153]:
print(f'training score: {model1.score(X_train, y_train):.2%}')
print(f'validate score: {model1.score(X_validate, y_validate):.2%}')
print(f'test score: {model1.score(X_test, y_test):.2%}')

training score: 81.93%
validate score: 70.39%
test score: 74.77%

In [154]:
###STEP 3: use our thing!!!
y_pred = model1.predict(X_validate)

In [157]:
print(classification_report(y_validate , y_pred))

              precision    recall  f1-score   support

           0       0.74      0.80      0.77       110
           1       0.63      0.55      0.59        69

    accuracy                           0.70       179
   macro avg       0.69      0.68      0.68       179
weighted avg       0.70      0.70      0.70       179

In [155]:
pd.DataFrame(classification_report(y_validate , y_pred, output_dict= True))

                    0          1  accuracy   macro avg  weighted avg
precision    0.739496   0.633333  0.703911    0.686415      0.698573
recall       0.800000   0.550725  0.703911    0.675362      0.703911
f1-score     0.768559   0.589147  0.703911    0.678853      0.699400
support    110.000000  69.000000  0.703911  179.000000    179.000000

### 5.) What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

Comparing the classification reports we can see a decrease in % for accuracy, precision, recall, support, f1 in Model 2. This would be the result in the increase of the number of min_leafs.

## K Nearset Neighbors Model Exercises!!!

### Continue working in your model file with the titanic dataset.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import knn_lesson_util as util


from sklearn.neighbors import KNeighborsClassifier


import acquire
import prepare



from sklearn.metrics import confusion_matrix
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [110]:
train, validate, test = prepare.prep_titanic_data(acquire.get_titanic_data(), column = 'age', method = 'median', dummies = ['embarked', 'sex']) #Dataframe features and target

In [111]:
train.head(5)

,passenger_id,survived,pclass,age,sibsp,parch,fare,class,alone,embarked_Q,embarked_S,sex_male
583,583,0,1,36.0,0,0,40.1250,First,1,0,0,1
165,165,1,3,9.0,0,2,20.5250,Third,0,0,1,1
50,50,0,3,7.0,4,1,39.6875,Third,0,0,1,1
259,259,1,2,50.0,0,1,26.0000,Second,0,0,1,0
306,306,1,1,28.0,0,0,110.8833,First,1,0,0,0

### clean up df

In [112]:
# create out df features and target.
X_train, y_train = train.drop(columns=['survived','class']), train.survived 
X_validate, y_validate = validate.drop(columns=['survived','class']), validate.survived 
X_test, y_test = test.drop(columns= ['survived', 'class']), test.survived

In [113]:

# baseline prediction = 0 (everyone dies)

# 1. Create the object
baseline = DummyClassifier(strategy='constant', constant=0)
# 2. Fit the object
baseline.fit(X_train, y_train)
# how does it do on training data set?
print('Baseline accuracy: %.4f' % baseline.score(X_train, y_train))

Baseline accuracy: 0.6165

### 1.) Fit a K-Nearest Neighbors classifier to your training sample and transform (i.e. make predictions on the training sample)

In [114]:
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train, y_train)
knn.score(X_train, y_train) #model accuracy

0.7590361445783133

In [115]:
train['prediction'] = knn.predict(X_train)
train['correct'] = train.prediction == train.survived

In [116]:
train.survived.value_counts()

0    307
1    191
Name: survived, dtype: int64

### 2.) Evaluate your results using the model score, confusion matrix, and classification report.

In [ ]:
# model accuracy is greater than the baseline accuracy so the model is valid to use.

In [117]:
#confusion matrix
confusion_matrix(y_train, train.prediction)

array([[292,  15],
       [105,  86]])

#### So need to generate a Positive and Negative. Livied being positive, died being negative
- TP: Predicted person lived and they did live
- TN: Predicted person died and the did die
- FP: Predicted person lived but they actually died
- FN: Predicted person died but they actually lived

In [123]:
pred_df = pd.DataFrame([['TN', 'FP'],['FN', 'TP']], index=['actual death', 'actual survived'], columns=['pred death', 'pred survived'])

pred_df + ' : ' + confusion_matrix(y_train, train.prediction).astype(str)

                pred death pred survived
actual death      TN : 292       FP : 15
actual survived   FN : 105       TP : 86

In [119]:
#classification report 
pd.DataFrame(classification_report(y_train, train.prediction, output_dict= True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.735516    0.851485  0.759036    0.793501      0.779994
recall       0.951140    0.450262  0.759036    0.700701      0.759036
f1-score     0.829545    0.589041  0.759036    0.709293      0.737304
support    307.000000  191.000000  0.759036  498.000000    498.000000

In [ ]:
validate['prediction'] = knn.predict(X_validate)

In [124]:
pd.DataFrame(classification_report(y_validate, validate.prediction, output_dict= True))

                    0          1  accuracy   macro avg  weighted avg
precision    0.637427   0.465116  0.602804    0.551272      0.571401
recall       0.825758   0.243902  0.602804    0.534830      0.602804
f1-score     0.719472   0.320000  0.602804    0.519736      0.566403
support    132.000000  82.000000  0.602804  214.000000    214.000000

### 3.) Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [ ]:
#Train

In [125]:
TN, FP, FN, TP = confusion_matrix(y_train, train.prediction).ravel()

In [83]:
print("True Positive", TP)
print("True Negatvie", TN)
print("False Positive", FP)
print("False Negative", FN)


print('-------------------------------------')

accuracy = (TP+TN)/(TP+TN+FP+FN)
recall = TP/(TP+FN)
precision = TP/(TP+FP)
F1_score = 2 * (precision * recall) / (precision + recall)


print('Accuracy is', accuracy)
print('Precision is', precision)
print('Recall is', recall)
print('F1 score is', F1_score)

True Positive 86
True Negatvie 292
False Positive 15
False Negative 105
-------------------------------------
Accuracy is 0.7590361445783133
Precision is 0.8514851485148515
Recall is 0.450261780104712
F1 score is 0.589041095890411

In [ ]:
#Validate

In [127]:
TN, FP, FN, TP = confusion_matrix(y_validate, validate.prediction).ravel()

In [128]:
print("True Positive", TP)
print("True Negatvie", TN)
print("False Positive", FP)
print("False Negative", FN)


print('-------------------------------------')

accuracy = (TP+TN)/(TP+TN+FP+FN)
recall = TP/(TP+FN)
precision = TP/(TP+FP)
F1_score = 2 * (precision * recall) / (precision + recall)


print('Accuracy is', accuracy)
print('Precision is', precision)
print('Recall is', recall)
print('F1 score is', F1_score)

True Positive 20
True Negatvie 109
False Positive 23
False Negative 62
-------------------------------------
Accuracy is 0.602803738317757
Precision is 0.46511627906976744
Recall is 0.24390243902439024
F1 score is 0.32

In [139]:
from sklearn.metrics import precision_recall_fscore_support

In [85]:
precision_recall_fscore_support(train.survived, train.prediction, average = 'binary' )

(0.8514851485148515, 0.450261780104712, 0.589041095890411, None)

### 4.) Run through steps 2-4 setting k to 10,  Model 1

In [129]:
#acquire the data!!!!, Prepare the data!!
train, test, validate = prepare.prep_titanic_data(acquire.get_titanic_data(), column = 'age',  method = 'median', dummies = ['embarked', 'sex'])

In [130]:
train.head(1)

,passenger_id,survived,pclass,age,sibsp,parch,fare,class,alone,embarked_Q,embarked_S,sex_male
583,583,0,1,36.0,0,0,40.125,First,1,0,0,1

In [131]:
# create the df features and target.
X_train, y_train = train.drop(columns = ['survived', 'age', 'sex_male', 'class']), train.survived
X_validate, y_validate = validate.drop(columns = ['survived', 'age', 'sex_male', 'class']), validate.survived
X_test, y_test = test.drop(columns = ['survived', 'age', 'sex_male', 'class']), test.survived

In [132]:
X_train.head(3)

,passenger_id,pclass,sibsp,parch,fare,alone,embarked_Q,embarked_S
583,583,1,0,0,40.1250,1,0,0
165,165,3,0,2,20.5250,0,0,1
50,50,3,4,1,39.6875,0,0,1

In [133]:
# Now fit our thing!!
knn1 = KNeighborsClassifier(n_neighbors=10)
knn1.fit(X_train, y_train)
knn1.score(X_train, y_train) #model accuracy

print(f'KNN model1 has a model accuracy of: {knn1.score(X_train,y_train)}')

KNN model1 has a model accuracy of: 0.7068273092369478

In [ ]:
#use our thing!!

In [ ]:
# have model accuracy score of 71%
# need to do confusion matrix

In [135]:
train['prediction'] = knn1.predict(X_train)
train['correct'] = train.prediction == train.survived

In [136]:
#confusion matrix
confusion_matrix(y_train, train.prediction)

array([[282,  25],
       [121,  70]])

#### So need to generate a Positive and Negative. Livied being positive, died being negative
- TP: Predicted person lived and they did live
- TN: Predicted person died and the did die
- FP: Predicted person lived but they actually died
- FN: Predicted person died but they actually lived

In [137]:
pd.DataFrame(classification_report(y_train, train.prediction, output_dict= True))

                    0           1  accuracy   macro avg  weighted avg
precision    0.699752    0.736842  0.706827    0.718297      0.713977
recall       0.918567    0.366492  0.706827    0.642529      0.706827
f1-score     0.794366    0.489510  0.706827    0.641938      0.677444
support    307.000000  191.000000  0.706827  498.000000    498.000000

In [140]:
precision_recall_fscore_support(y_train, train.prediction, average = 'binary')

(0.7368421052631579, 0.36649214659685864, 0.48951048951048953, None)

In [141]:
accuracy_score(train.survived, train.prediction)

0.7068273092369478

### 5.) Run through setps 2-4 setting k to 20, Model 2

In [142]:
train, test, validate = prepare.prep_titanic_data(acquire.get_titanic_data(), column = 'age', method = 'median', dummies = ['embarked', 'sex'])

In [143]:
train.shape, validate.shape, test.shape

((498, 12), (179, 12), (214, 12))

In [144]:
train.head(1)

,passenger_id,survived,pclass,age,sibsp,parch,fare,class,alone,embarked_Q,embarked_S,sex_male
583,583,0,1,36.0,0,0,40.125,First,1,0,0,1

In [145]:
X_train, y_train = train.drop(columns = ['survived', 'age', 'sex_male', 'class']), train.survived
X_validate, y_validate = validate.drop(columns = ['survived', 'age', 'sex_male', 'class']), validate.survived
X_test, y_test = test.drop(columns = ['survived', 'age', 'sex_male', 'class']), test.survived

### 6.) What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

### 7.) Which model performs best on our out-of-sample data from validate?

### 8.) What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?Which model performs best on our out-of-sample data from validate?

# Logistic Regression

### In these exercises, we'll continue working with the titanic dataset and building logistic regression models. Throughout this exercise, be sure you are training, evaluation, and comparing models on the train and validate datasets. The test dataset should only be used for your final model.

### For all of the models you create, choose a threshold that optimizes for accuracy.

### Do your work for these exercises in either a notebook or a python script named model within your classification-exercises repository. Add, commit, and push your work.

### 1.) Create a model that includes age in addition to fare and pclass. Does this model perform better than your baseline?

In [90]:
from sklearn.impute import SimpleImputer

In [106]:
# model includes age, fare and pclass
titanic = acquire.get_titanic_data()
titanic.head(1)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.25,S,Third,None,Southampton,0

In [107]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [109]:
# number of nulls in age.
titanic.age.isnull().value_counts()

False    714
True     177
Name: age, dtype: int64

In [ ]:
#need to change is null into a value in future.

In [ ]:
#altered the column sex to have a numerical value for male and female!!

In [110]:
 dummy_df = pd.get_dummies(titanic[['sex']], drop_first=True)

In [111]:
titanic = pd.concat([titanic, dummy_df], axis=1)

In [112]:
titanic = titanic.drop(columns = ['passenger_id', 'sibsp','sex', 'parch', 'embarked', 'class','deck', 'embark_town', 'alone'])

In [113]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   age       714 non-null    float64
 3   fare      891 non-null    float64
 4   sex_male  891 non-null    uint8
dtypes: float64(2), int64(2), uint8(1)
memory usage: 28.8 KB

In [114]:
titanic = titanic.replace(np.nan, None)
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   age       891 non-null    float64
 3   fare      891 non-null    float64
 4   sex_male  891 non-null    uint8
dtypes: float64(2), int64(2), uint8(1)
memory usage: 28.8 KB

In [115]:
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(titanic, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=titanic[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [116]:
train, validate, test = train_validate_test_split(titanic,target = 'survived', seed =123)

In [117]:
def impute_mode(train, validate, test):
    '''
    take in train, validate, and test DataFrames, impute mode for embark_town,
    and return train, validate, and test DataFrames
    '''
    imputer = SimpleImputer(missing_values = None , strategy='most_frequent')
    train[['age']] = imputer.fit_transform(train[['age']])
    validate[['age']] = imputer.transform(validate[['age']])
    test[['age']] = imputer.transform(test[['age']])
    return train, validate, test

In [118]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 583 to 744
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  498 non-null    int64
 1   pclass    498 non-null    int64
 2   age       498 non-null    float64
 3   fare      498 non-null    float64
 4   sex_male  498 non-null    uint8
dtypes: float64(2), int64(2), uint8(1)
memory usage: 19.9 KB

In [119]:
train.survived.value_counts() # our baseline prediction is pclass 3

0    307
1    191
Name: survived, dtype: int64

In [121]:
#create our df with features and target.
X_train, y_train = train.drop(columns = 'survived'), train.survived
X_validate, y_validate = validate.drop(columns = 'survived'), validate.survived
X_test, y_test = test.drop(columns = 'survived'), test.survived

In [122]:

# baseline prediction = 0 (everyone dies)

# 1. Create the object
baseline = DummyClassifier(strategy='constant', constant=0)
# 2. Fit the object
baseline.fit(X_train, y_train)
# how does it do on training data set?
print('Baseline accuracy: %.4f' % baseline.score(X_train, y_train))

Baseline accuracy: 0.6165

In [123]:
train['prediction'] = 0

2.) Include sex in your model as well. Note that you'll need to encode or create a dummy variable of this feature before including it in a model.

#added in sex to model.

In [ ]:
#logisitc regression model!

In [133]:
from sklearn.linear_model import LogisticRegression

In [134]:
logit = LogisticRegression(C=1, class_weight = {0:1, 1:99}, random_state =123)

In [135]:
logit.fit(X_train, y_train)

LogisticRegression(C=1, class_weight={0: 1, 1: 99}, random_state=123)

In [136]:
y_pred = logit.predict(X_train)

In [137]:
#model score
print(f'training score: {mode.score(X_train, y_train):.2%}')
print(f'validate score: {model.score(X_validate, y_validate):.2%}')
print(f'test score: {model.score(X_test, y_test):.2%}')

training score: 38.35%
validate score: 38.32%
test score: 38.55%

In [ ]:
#confusion matrix

In [130]:
TP, TN, FP, FN = confusion_matrix(y_train, y_pred).ravel()

In [131]:
print("True Positive", TP)
print("True Negatvie", TN)
print("False Positive", FP)
print("False Negative", FN)


print('-------------------------------------')

accuracy = (TP+TN)/(TP+TN+FP+FN)
recall = TP/(TP+FN)
precision = TP/(TP+FP)
F1_score = 2 * (precision * recall) / (precision + recall)


print('Accuracy is', accuracy)
print('Precision is', precision)
print('Recall is', recall)
print('F1 score is', F1_score)

True Positive 277
True Negatvie 30
False Positive 51
False Negative 140
-------------------------------------
Accuracy is 0.6164658634538153
Precision is 0.8445121951219512
Recall is 0.6642685851318945
F1 score is 0.7436241610738255

3.)Try out other combinations of features and models.

4.) Use you best 3 models to predict and evaluate on your validate sample.

5.) Choose you best model from the validation performation, and evaluate it on the test dataset. How do the performance metrics compare to validate? to train?

Bonus1 How do different strategies for handling the missing values in the age column affect model performance?

Bonus2: How do different strategies for encoding sex affect model performance?

Bonus3: scikit-learn's LogisticRegression classifier is actually applying a regularization penalty to the coefficients by default. This penalty causes the magnitude of the coefficients in the resulting model to be smaller than they otherwise would be. This value can be modified with the C hyper parameter. Small values of C correspond to a larger penalty, and large values of C correspond to a smaller penalty.

Try out the following values for C and note how the coefficients and the model's performance on both the dataset it was trained on and on the validate split are affected.


C =
.01
,
.1
,
1
,
10
,
100
,
1000


Bonus Bonus: how does scaling the data interact with your choice of C?